:root {
    --dark-grey-color: #16181b;
    --red-color: #EB5767;
    --orange-color: #F96F57;
    --yellow-color: #FECD60;
    --green-color: #A1D26E;
    --mint-color: #4FCEAE;
    --aqua-color: #55C0E6;
    --blue-color: #609EE9;
    --purple-color: #AC94EA;
    --pink-color: #EA89BE;
  }